@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,700italic);

body {
  font-family: "Ubuntu Mono";
  background-color: #EEE;
  color: #333;
  font-size: 16pt;
  line-heigt: 1.4;
  font-weight: 400;
  margin: 2em;
}

.switch {
  height: 25px;
  width: 50px;
  border-radius: 50px;
  border: 1px black solid;
  vertial-align: middle;
  text-align: center;
  color: black;
  display: inline-black;
  margin: 10px;
  margin-top: 30px;
  margin-right: 15px;
  background-color: gray;
  font-size: 20px;
}

#container {
  position: relative;
  width: 400px;
}

#div1, #div2 {
  position: absolute;
  width: 75px;
}

#div1 {
  left: 0;
}

#div2 {
  left: 75px;
}
