@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body {
  font-size: 16pt;
  line-height: 1.4;
  color: #EEE;
  font-family: "Ubuntu Mono";
  font-weight: 400;
  //background-Image: url("../image/universe.png");
  //background-size: 100%;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.stretch {
  width: 100%;
  height: 100%;
}

h1 {
  font-weight: 700;
}

#canvasContainer {
  text-align: center;
}

#canvas {
  border: 1px solid black;
}
