@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,700italic);

body {
  font-size: 16pt;
  line-height: 1.4;
  color: #333;
  font-family: "Ubuntu Mono";
  font-weight: 400;
}

#canvas {
  border: 1px solid black;
}
