@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,700italic);

body {
  font-family: "Ubuntu Mono";
  background-color: #04022E;
  color: #888;
  font-size: 16pt;
  line-heigt: 1.4;
  font-weight: 400;
  margin: 2em;
}

h1 {
  font-weight: 700;
}
