@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);

body {
  font-size: 16pt;
  line-height: 1.4;
  color: #333;
  font-family: "Ubuntu Mono";
  font-weight: 400;
  background-color: #EEE;
}

#canvasContainer {
	text-align: center;
}

h1 {
  font-weight: 700;
}

#targetcanvas {
	border: 1px solid black;
}
